<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <h1>Register</h1>
    <div>
        <form action="/register" method="POST">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>

            <select id="role" name="role">
                <option value="mentor">Red</option>
                <option value="meentee">Green</option>
            </select>
            <input type="submit" value="Register">
        </form>
    </div>

</body>
</html>
